body {
  color: #40514E;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #5eaaa8;
  font-family: 'Caveat', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #5eaaa8;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #a3d2ca;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: #eb5e0b;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #a3d2ca;
}

p {
    line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
  border-color: #a3d2ca;
  margin: 100px auto;
}

#selfImage {
  border-radius: 100%;
}

.top-container {
  background-color: #f3f4ed;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #5eaaa8;
  padding: 50px 0 20px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.intro {
  margin: auto;
  width: 30%;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.contact-btn {
  -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #EB5E0B;
   font-family: 'Fira Sans', sans-serif;
   font-size: 24px;
   font-weight: 100;
   padding: 10px;
   background-color: #A3D2CA;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-btn:hover {
   background: #5EAAA8;
   border: solid #EB5E0B 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.computer-image {
  float: left;
  margin-right: 30px;
  width: 15%
}

.chili-image {
  float: right;
  margin-left: 30px;
  width: 15%;
}

.big {
  font-weight: bold;
  text-decoration: underline;
}

.copyright {
  color: #f8f1f1;
  padding: 20px 0;
}
